# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Pytest & Benchmarks
.pytest_cache/
.benchmarks/

# Execution Results & Reports
results/
tests/
pynguin-report/
.mutmut-cache
.coverage
htmlcov/

# OS
.DS_Store